<!DOCTYPE html>
<html>
<head>
	<title>impact</title>
	<!--<link rel="stylesheet" type="text/css" href="public/css/bootsrap.min.css">-->
	
	
 <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
	

</head>
	<body>

	 <div class="panel panel-default">
	    <div class="panel-body">
			<h1 class="col-lg-6 col-lg-offset-3">
				Impact Reporting Tool
			</h1> 
			<ul style="display:inline;list-style-type: none">
	<li>
		<a href="/funder_new">Funder</a>
	</li>
	<li>
		<a href="/hub_page">Hub</a>
	</li>
	<li>
		<a href="/startup_page">StartUp</a>
	</li>
</ul>
	    </div>
	</div>
		<div class="container-fluid">
			<div class="row-fluid">

				{{{body}}}

			</div><!--row end -->
	</div><!-- container end -->
	<script src="/js/jquery-2.1.4.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 

	</body>
	<script type="text/javascript" src="/js/appJQuery.js"></script>
</html>