<!DOCTYPE html>
<html>
<head>
	<title>impact</title>
	<!--<link rel="stylesheet" type="text/css" href="public/css/bootsrap.min.css">-->
	<script src="https://code.jquery.com/jquery.min.js"></script>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	{{{body}}}
</div><!-- container end -->
</body>
</html>