<!DOCTYPE html>
<html>
<head>
	<title>impact</title>
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<h1>
		Impact Reporting Tool
	</h1>
	<ul>
		<li>
			<a href="/create_hub_criteria">Create Hub Criteria Page</a>
		</li>
		<li>
			<a href="/criteria">Hub Criteria Page</a>
		</li>
		<li>
			<a href="startup_criteria">StartUp Criteria Page</a>
		</li>
	</ul>

	{{{body}}}

<script type="text/javascript" src="static/js/appJQuery.js"></script>
</body>
</html>