<div class="container">
	<div class="col-lg-10 col-lg-offset-1 panel panel-body">
		<a class="btn btn-success col-lg-offset-1" href="/funder_page">Funder View</a>
		<a class="btn btn-success col-lg-offset-1" href="/hub_page">Hub View</a>
		<a class="btn btn-success col-lg-offset-1" href="/startup_page">StartUp View</a>
	</div>
</div>