<div class="container">
	<div class="panel panel-default new">
		<div class="panel-heading">
			<h3 class="panel-title">
				New reports
			</h3>
		</div>
		<div class="panel-body">
			Panel body
		</div>
	</div>

	<div class="panel panel-default new">
		<div class="panel-heading">
			<h3 class="panel-title">
				New reports
			</h3>
		</div>
		<div class="panel-body">
			Panel body
		</div>
	</div>

	<div class="panel panel-default new">
		<div class="panel-heading">
			<h3 class="panel-title">
				New reports
			</h3>
		</div>
		<div class="panel-body">
			Panel body
		</div>
	</div>
</div>